:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "spartan";
  src: url("./LeagueSpartan-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 100 900;
}

body {
  font-family: "spartan";
}

.main {
  max-width: 76rem;
  margin: 0 auto;
  padding: 3rem;
}

.hero {
  display: grid;
  grid-template-columns: 26rem minmax(2rem, auto) minmax(30rem, 36rem);
  grid-auto-flow: row;
  grid-template-areas: "tx . rt";
  margin-bottom: 4rem;
}

.hero__text {
  grid-area: tx;
  min-height: 17rem;
  display: grid;
  align-items: center;
}

.hero__header {
  color: var(--very-dark-magenta);
  font-size: 3rem;
  line-height: 1;
}

.hero__paragraph {
  margin-top: 2rem;
  font-size: 1.125rem;
  color: var(--dark-grayish-magenta);
}

.hero__ratings {
  padding: 2rem 0;
  grid-area: rt;
  display: grid;
  align-items: center;
  align-self: center;
  row-gap: 1rem;
}

.ratings__item {
  background-color: var(--light-grayish-magenta);
  display: grid;
  column-gap: 2rem;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  align-items: center;
  padding: 1rem 2rem;
  width: 30rem;
  position: relative;
  border-radius: 0.5rem;
}

.ratings__item--first {
  justify-self: start;
}

.ratings__item--second {
  justify-self: center;
}
.ratings__item--third {
  justify-self: end;
}

.item__stars {
  display: inline;
  position: relative;
  top: 0.125rem;
}

.item__text {
  display: inline;
  color: var(--very-dark-magenta);
  font-weight: 700;
  font-size: 1.125rem;
}

.star_icon {
  display: inline;
}

.cards-section {
  display: grid;
  grid-template-columns: 23rem;
  grid-auto-columns: 23rem;
  grid-auto-flow: column;
  column-gap: 2rem;
  justify-content: center;
  height: 19rem;
}

.card {
  background-color: var(--very-dark-magenta);
  padding: 2rem;
  border-radius: 0.5rem;
  height: 16rem;
}

.card:nth-child(2) {
  align-self: center;
}

.card:nth-child(3) {
  align-self: end;
}

.card__client {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card__avatar {
  border-radius: 100rem;
  width: 3rem;
  display: inline;
}

.card__credentials {
}

.credentials__name {
  display: block;
  color: white;
  font-weight: 700;
}

.credentials__status {
  display: block;
  color: var(--dark-grayish-magenta);
  font-weight: 600;
}

.card__comment {
  color: white;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .cards-section {
    display: block;
    height: unset;
  }

  .card {
    background-color: var(--very-dark-magenta);
    padding: 2rem;
    border-radius: 0.5rem;
    height: unset;
    max-width: 25rem;
    margin: 0 auto;
  }

  .card + .card {
    margin-top: 1rem;
  }
}

@media (max-width: 990px) {
  .main {
    max-width: 40rem;
    padding: 3rem 1.5rem;
  }

  .hero {
    display: block;
  }

  .hero__text {
    min-height: unset;
    display: block;
    margin-bottom: 2rem;
  }

  .hero__header {
    text-align: center;
    max-width: 28rem;
    margin: 0 auto 3rem;
  }

  .hero__paragraph {
    text-align: center;
    max-width: 33rem;
    margin: 1rem auto;
  }

  .hero__ratings {
    display: block;
    padding: 0;
  }

  .ratings__item {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem 2rem 0.75rem;
    width: unset;
    max-width: 30rem;
  }

  .item__stars {
    display: block;
    text-align: center;
    top: 0;
  }

  .item__text {
    display: block;
    text-align: center;
  }
}
